services:
  x00qd_sdcard:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/smankusors/x00qd_sdcard:main
    privileged: true
    stdin_open: true
    tty: true
    volumes:
      - ./bin:/root/bin
      - ./patch:/root/patch
      - ./work:/root/work
      - ./work/unzip_boot:/root/Android_boot_image_editor/build/unzip_boot
      - /dev:/dev
